[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = {extras = ["dotenv"], version = "==1.10.2"}
confluent-kafka = "==2.0.2"
clickhouse-driver = "==0.2.5"
redis = "==4.4.2"
loguru = "==0.6.0"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
