SECRET_KEY=secret_key
DEBUG=True
ALLOWED_HOSTS='*'
CSRF_TRUSTED_ORIGINS='http://localhost,http://127.0.0.1'
INTERNAL_IPS=127.0.0.1

DB_NAME=promocode
DB_USER=promocodeadmin
DB_PASSWORD=promocodepass
DB_HOST=postgres
DB_PORT=5432

CELERY_BROKER_URL="redis://redis:6379"
CELERY_RESULT_BACKEND="redis://redis:6379"

DJ_USERNAME=eva
DJ_USER_EMAIL=eva@test.loc
DJ_PASSWORD=!QAZxsw2
