DEBUG = True

MESSAGES_QUEUE_HOST = 'rabbitmq'
MESSAGES_QUEUE_PORT = 5672
MESSAGES_QUEUE_USERNAME = 'rabbitmq'
MESSAGES_QUEUE_PASSWORD = 'rabbitmq' 
MESSAGES_QUEUE = 'auth_message'

SEND_QUEUE_HOST = 'rabbitmq'
SEND_QUEUE_PORT = 5672
SEND_QUEUE_USERNAME = 'rabbitmq'
SEND_QUEUE_PASSWORD = 'rabbitmq' 
SEND_QUEUE = 'send_auth_message'

AUTH_SERVICE_BEARER_TOKEN = testtoken

USER_INFO_URL = 'http://127.0.0.1:8081/v1/user/'
FILM_INFO_URL = 'http://127.0.0.1:8080/v1/film/'

BACKOFF_START_SLEEP_TIME = 1
BACKOFF_FACTOR = 2
BACKOFF_BORDER_SLEEP_TIME = 60
BACKOFF_TRY_LIMIT = 10

TEST_USER_ID = '775f21b1-3a1c-45cd-9495-e1cab2418277'
TEST_FILM_ID = '7303d55d-cca1-46e5-9d4e-69f11117816f'
